@charset "utf-8";
/** @ RESET CSS**/
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,table,textarea{font-size:16px;font-family:Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif}
button,input{border-radius:0}
fieldset,img{border:0}
ol,ul{list-style:none}
address,em{font-style:normal}
a{text-decoration:none}
a:hover{text-decoration:underline}
a { text-decoration:none !important }
a:hover { text-decoration:none !important }

@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/**container**/
.container01 {
    width: 7592vw;
    height: 1080vh;
	overflow:hidden;
    background-size: 100% auto; 
    background-image: url('/images/background.png');
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
